logs
*.log
npm-debug.log*
.DS_Store

coverage
build
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules/
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
package-lock.json
.eslintcache